<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinktank.generator.mapper.BlockApplicationBlockMapper">


    <select id="getApplicationBlockPage" resultType="com.thinktank.generator.vo.BlockApplicationBlockVo">
        SELECT
        t1.id,
        t1.block_name,
        t1.description,
        t1.create_time,
        t1.status,
        t2.big_type_name,
        t3.small_type_name,
        t4.username
        FROM
        block_application_block AS t1,
        block_big_type AS t2,
        block_small_type AS t3,
        sys_user AS t4
        WHERE
        t1.big_type_id = t2.id
        AND t1.small_type_id = t3.id
        AND t1.user_id = t4.id
        <if test="blockApplicationBlockDto.bigTypeId !=null">
            AND t2.id = #{blockApplicationBlockDto.bigTypeId}
        </if>
        <if test="blockApplicationBlockDto.smallTypeId !=null">
            AND t3.id = #{blockApplicationBlockDto.smallTypeId}
        </if>
        ORDER BY t1.update_time DESC,t1.status
    </select>
</mapper>
