<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinktank.generator.mapper.PostLikesMapper">
    <select id="getFavoritePage" resultType="com.thinktank.generator.entity.PostInfo">
        SELECT t2.id,
               t2.block_id,
               t2.title
        FROM post_likes AS t1,
             post_info AS t2
        WHERE t1.post_id = t2.id
          AND t1.user_id = #{userId}
    </select>
</mapper>
