<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinktank.generator.mapper.PostCommentsMapper">

    <select id="getPage" resultType="com.thinktank.generator.vo.PostCommentsVo">
        SELECT t1.id,
               t1.content,
               t1.create_time,
               t1.user_id,
               t1.topic_flag,
               t2.username,
               t2.avatar
        FROM post_comments AS t1,
             sys_user AS t2
        WHERE t1.user_id = t2.id
          AND t1.post_id = #{postId}
          AND t1.parent_id = 0
    </select>
    <select id="getAllChildrenComment" resultType="com.thinktank.generator.vo.PostCommentsVo">
        SELECT t1.id,
               t1.content,
               t1.parent_id,
               t1.create_time,
               t1.user_id,
               t2.username,
               t2.avatar
        FROM post_comments AS t1,
             sys_user AS t2
        WHERE t1.user_id = t2.id
          and t1.parent_id = #{commentId}
    </select>

    <select id="getPostCommentsVoByFive" resultType="com.thinktank.generator.vo.PostCommentsVo">
        SELECT t1.content,
               t1.topic_flag,
               t2.block_name,
               t3.username
        FROM post_comments AS t1,
             block_info AS t2,
             sys_user AS t3
        WHERE t1.block_id = t2.id
          AND t1.user_id = t3.id
          AND t1.post_id = #{postId}
          AND t1.parent_id = 0
          and t1.del_flag = 0
        LIMIT 5
    </select>
    <select id="receivedCommentsPage" resultType="com.thinktank.generator.vo.PostCommentsVo">
        SELECT t1.id,
               t1.title,
               t2.content,
               t2.create_time,
               t3.id AS block_id,
               t3.block_name,
               t4.username,
               t4.avatar
        FROM post_info AS t1,
             post_comments AS t2,
             block_info AS t3,
             sys_user AS t4
        WHERE t1.id = t2.post_id
          AND t1.block_id = t3.id
          AND t2.user_id = t4.id
          AND t1.user_id = #{loginId}
          AND t2.parent_id = 0
          AND t2.user_id != #{loginId}
        ORDER BY t2.create_time DESC
    </select>
</mapper>
